body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: url('./chicago.jpg') no-repeat fixed center;
}


.btn-custom{
  border-radius:45px;
}

h1{
  font-weight: 700;
  text-transform: uppercase;
}


.list{
  width: 100%;
  min-height:50vh;
  background-color: rgba(255,255,255,.95);
  -webkit-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 41px 0px rgba(0,0,0,0.75);
  
}

ul{
  list-style: none;
}