
*{
  font-family: 'Signika', sans-serif;
}

.wrapper{

  display: flex;
  height: 100vh;
width: 100%;
background-color: rgb(212, 206, 79);
color:rgb(177, 172, 63);
flex-direction:column;
justify-content: center;
/* justify-content: space-around; */
align-items: center;
}

.smaller{
  width:400px;
}
input{
  width: 100%;
  height:2em;
}
#search{
  display:inline;
  width:100%;
  margin-top: 20px;

}

#name-pokemon{
  font-size: 2em;
  color:white;
  text-transform
}
