
body{
  background-color: black !important;
}
#biggestBox{
    height: 800px;
    width: 800px;
    background-color: black;
    margin: 0 auto;

}
#bigBox{
  height: 400px;
  width: 400px;
  background-color: black;
  margin: 0 auto;

}

.lilBox{
  height: 200px;
  width: 200px;
  display: inline-block;
  float: left;
  background-color: black;
  border-color: white;
  border-width: .5px;
  border-style: solid;

}

.dj{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Monoton', cursive;
  color: white;
}
