
.bk{
  background-color: black;
}

.hit-box{
  height: 500px;
  /*background-color: purple;*/
  width:100%;
  position: relative;

}

.hit-img{
background-size: cover;
background-position: center;
}

.name{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:rgba(184, 97, 88, 0.73);
  text-align:center;
  font-family: sans-serif;
  text-transform: uppercase;
}


.don{
  max-width: 100px;
  float:right;
}
