*{
box-sizing: border-box;
}
.bk{
  background-color: black;
}

.hit-box{
  height: 500px;
  /*background-color: purple;*/
  width:100%;
  position: relative;

}

.hit-img{
background-size: cover;
background-position: center;

}

.name{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:rgba(184, 97, 88, 0.73);
  text-align:center;
  font-family: monospace;
  font-size: 3em;
  text-transform: uppercase;
}


.don{
  max-width: 100px;
  float:left;
  padding: 8px;
}


.navbar{
  background-color: rgba(184, 97, 88, 0.73) !important;
  margin: 0px !important;
  border-color: rgba(184, 97, 88, 0.73) !important;
  font-family: monospace;

  text-transform: uppercase;

}

.navbar-brand{
  font-size: 3em !important;
  margi-top:30%;

}
