
body{
  background-color: rgb(208, 196, 232);
  font-family: monospace;
  color:white;

}


.navbar{
  background-color: rgb(106, 44, 221);
}

p{
  text-align:center;
}

.jumbotron{
  text-align: center;
}

footer{
  background-color: rgb(82, 19, 125);
  width: 100%;
  text-align: center;
  position: absolute;
  bottom:0;

}
